src/main/mule/clients/client-uber-freigth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="client-uber-freigth-get-token" doc:id="639e3d95-7156-484a-8db0-c44e62013623" >
		<http:request method="POST" doc:name="Request" doc:id="691594a3-9910-4efd-b1a1-aca51d141dd2" config-ref="HTTP_Request_configuration_Uber_Freight" path="/oauth2/accesstoken">
			<http:body ><![CDATA[#[%dw 2.0
output application/x-www-form-urlencoded
---
{
grant_type: "client_credentials"
}]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Basic UUFkeFR0N1kzdFV0aDZBcmdzWTdDNEFnb0RrZnhxbjM6aUdnTXJpdllqMHZEemo5QQ=="
}]]]></http:headers>
		</http:request>
	</sub-flow>
	<sub-flow name="client-uber-freigth-tender" doc:id="954f10b2-d870-45e7-83ff-2b2e358fcce1" >
		<http:request method="POST" doc:name="Request" doc:id="249bfc20-be81-4dd3-abe5-c01e21476923" config-ref="HTTP_Request_configuration_Uber_Freight" path="/tp-api/carrier/v2/tender-accept-reject" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token.access_token as String
}]]]></http:headers>
		</http:request>
	</sub-flow>
	<sub-flow name="client-uber-freigth-change-status" doc:id="27230e40-9b35-4ede-8fe5-39f1fc6d3124" >
		<http:request method="POST" doc:name="Request" doc:id="c3e991f2-d039-4a60-9363-59c31cd5e1e3" config-ref="HTTP_Request_configuration_Uber_Freight" path="/tp-api/carrier/v2/carrier-shipment-status">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.token.access_token as String
}]]]></http:headers>
		</http:request>
	</sub-flow>
	<flow name="client-uber-freigthFlow1" doc:id="43bce6b9-2811-4ba6-b6a8-33d8fa892ef4">
<!-- [STUDIO:"Scheduler"]		<scheduler doc:name="Scheduler" doc:id="fd33ee74-95d4-4b10-89f4-fa0ee252f778" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="6b30d260-dfbe-4d4a-b0bf-74e0e45d93a2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "operation_name": "changeStatus",
    "status": "check_out",
    "system_load_id": "48133", // Colocar el número de load Id 
    "carrier_code": "0309001318",
    "service_code": "FTL", // Para efecto de prueba dejar FTL 
    "equipment_type_code": "T_53P", // Dejar T_53P 
    "tender_accepted_by": "Traxporta", // Para efecto de prueba dejar Traxporta 
    "gps": "", // Valor vacio 
    "tractor_number": "", // Número de unidad en su sistema 
    "tractor_plates": "", // PLacas de la unidad 
    "trailer_number": "", // Numero del trailer en su sistema 
    "trailer_plates": "", // Placas del trailer 
    "driver_name": "", // Nombre completo de operador 
    "shipment_number": "", // Valor vacio 
    "event_date_time": "2024-05-22T12:50:15", // Mantener formato 
    "record_date_time": "2024-05-22T12:50:15", // Mantener formato 
    "stop_sequence_number": "1"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="listeners-effem-update-status" doc:id="2706903f-57bc-475e-9332-5889f01ea4cf" name="listeners-effem-update-status"/>
	</flow>
</mule>
