src/main/mule/system-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <http:listener-config name="system-customer-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="system-customer-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:system-customer-api:1.0.34:raml:zip:system-customer-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<flow name="system-customer-api-main">
        <http:listener config-ref="system-customer-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-400",
			"user_error_description": "The server cannot or will not process the request due to something that is perceived to be a client error",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="HTTP:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.errorMessage.payload]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="110b66f9-31f8-42a4-86ac-6eb49affdef8" type="CCA:ERROR">
                <ee:transform doc:name="Transform Message" doc:id="58ca8027-c5df-4486-a8b0-2003935f7d7f">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(payload.erroresM[0]))
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "HTTP: 400-BAD REQUEST",
			"user_error_description": "Error al dar de alta. Datos erroneos. Verifique los datos que intenta enviar.",
			"system_error_description": payload.erroresD[0]
		}
	}
}
else
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "HTTP: 409-CONFLICT",
			"user_error_description": "Error al dar de alta. Ya existen los datos que intenta enviar.",
			"system_error_description": payload.erroresM[0]
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(payload.erroresM[0]) and vars.codeErrorCca == 206)
400
else
409]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <logger level="INFO" doc:name="Logger" doc:id="af44ce0c-9b98-46f6-b878-5e68c1dd717e" message="#[payload]" />
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ebf8e80d-8cef-45d6-b0a1-31c1c2b22e58" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="c307f56a-fe57-49dc-a5af-07e3d8b8fb7a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": error.errorType.asString,
			"user_error_description": error.description,
			"system_error_description": {
				"payload": {
					"traxion_response": {
						"error": {
							"error_type": error.errorType.identifier,
							"user_error_description": error.detailedDescription ++ " - " ++ error.dslSource,
							"system_error_description": {
								"payload": {
									"error": true,
									"message": error.muleMessage.typedValue,
									"errorType": ""
								}
							}
						}
					}
				}
			}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="system-customer-api-console">
        <http:listener config-ref="system-customer-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customer\imss\remissions\informix:system-customer-api-config">
        <flow-ref doc:name="Call to orchestrator-get-remissions-date" doc:id="4e3752a6-e0d9-403c-9dba-209b08ccd888" name="orchestrator-get-remissions-date" />
    </flow>
    <flow name="get:\customer\imss\orders\(order_id):system-customer-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="order_id">attributes.uriParams.'order_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
""]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\imss\orders:application\json:system-customer-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
""]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\imss\remissions:application\json:system-customer-api-config">
        <flow-ref doc:name="Call to orchestrator-insert-customer-remissions" doc:id="cf8c6f7e-dd8b-4718-9e83-f539aca6d3b8" name="orchestrator-insert-customer-remissions" />
    </flow>
    <flow name="post:\customer\shipping\notification:application\json:system-customer-api-config">
        <flow-ref doc:name="orchestrator-shipping-notification-main" doc:id="31f2f980-b7eb-4a3a-a74d-7b59d1e64424" name="orchestrator-shipping-notification-main" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\statusUpdate:application\json:system-customer-api-config">
        <ee:transform doc:name="Transform Message" doc:id="556a1486-c2e9-4cf1-84c9-c5d7c29c2dae">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="trafficLigth"><![CDATA[payload.trafficligth]]></ee:set-variable>
                <ee:set-variable variableName="new_status"><![CDATA[payload.status]]></ee:set-variable>
                <ee:set-variable variableName="vrid"><![CDATA[payload.vrid]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-trailer-activity-main" doc:id="f4697b58-2088-432f-881f-34240b3efa2b" name="orchestrator-trailer-activity-main" />
    </flow>
    <flow name="post:\customer\gnma\load:application\json:system-customer-api-config">
        <flow-ref doc:name="client-consume-api-genomma-consume-service-status-gnma" doc:id="688c08b8-ab52-4484-a7f0-f4dd064e4b88" name="client-consume-api-genomma-consume-service-status-gnma" />
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  traxion_response: {
    completed_succesfully: "true",
    response: {
      operation: "The record has been update successfully",
      data: {}
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\redpack\guide:application\json:system-customer-api-config">
        <ee:transform doc:id="e169ca2b-8ee5-47e0-b747-22b897186cab">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadBK"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-redpack-create-guide-main" doc:id="4c42ae21-cb8f-477a-963c-4206c822a164" name="orchestrator-redpack-create-guide-main" />
    </flow>
    <flow name="post:\customer\redpack\labels:application\json:system-customer-api-config">
        <ee:transform>
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadBK"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-redpack-create-label-main" doc:id="90a8fd7f-e596-49dc-9bee-f5f1bb0c50b6" name="orchestrator-redpack-create-label-main" />
    </flow>
    <flow name="post:\customer\redpack\test\delivery:application\json:system-customer-api-config">
        <ee:transform>
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadBK"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-redpack-create-test-delivery-main" doc:id="bb204896-f918-4fb2-bf91-172ab453516c" name="orchestrator-redpack-create-test-delivery-main" />
    </flow>
    <flow name="post:\customer\redpack\send\ccp:application\json:system-customer-api-config">
        <ee:transform doc:name="Transform Message" doc:id="ef0bb54e-b2bd-432a-bf73-708d556f6dc6">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="payloadCCP"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="c26b066a-3118-4e61-8971-0caa731fa9b6" message="#[vars.payloadCCP]" />
        <flow-ref doc:name="Call to orchestrator-redpack-send-ccp-main" doc:id="f736c971-dcc7-4273-abf8-be4f326634b3" name="orchestrator-redpack-send-ccp-main" />
    </flow>
    <flow name="post:\wms\order:application\xml:system-customer-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="customer_name"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.customer_name]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-post-wms-order" doc:id="e403a64e-b12d-4fcc-ab32-cca42e0d353a" name="orchestrator-post-wms-order" />
    </flow>
    <flow name="get:\cca\order\remision:system-customer-api-config">
        <ee:transform doc:name="Transform Message" doc:id="9ed5c0e9-aecb-4243-baa3-2657d98358f0">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="clasPtal"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.clasPtal]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="orchestrator-get-order-remisions-main" doc:id="2e729156-c5be-4d0d-9643-1a20c4b93738" name="orchestrator-get-order-remisions-main" />
    </flow>
    <flow name="post:\cca\order\confirmation:application\json:system-customer-api-config">
        <flow-ref doc:name="Call-orchestrator-get-cca-oder-confirmation" doc:id="784672e9-e74f-4372-8535-f7ce689c5f66" name="orchestrator-get-cca-oder-confirmation" />
    </flow>
    <flow name="post:\cca\wms\receipt:application\xml:system-customer-api-config">
        <flow-ref doc:name="Calll-orchestrator-post-cca-wms-receipt" doc:id="f63c28ba-739e-48b6-979b-5481118650f8" name="orchestrator-post-cca-wms-receipt" />
    </flow>
    <flow name="get:\cca\wms\getCcaKeyFromWmsKey:system-customer-api-config">
        <ee:transform doc:name="Transform Message" doc:id="fc808d9f-49b3-4998-8f01-b62f4504a527">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="prtNumPl"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.prtnum]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-get-cca-key-from-wms-key" doc:id="dcd471aa-802b-4ea6-ab22-444f3c3da3c0" name="orchestrator-get-cca-key-from-wms-key" />
    </flow>
    <flow name="get:\cca\bdIntegra\getSupnumFromRfc:system-customer-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="rfc"><![CDATA[%dw 2.0
output application/json
---
attributes.queryParams.rfc]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Call-orchestrator-get-supnum-from-rfc-cca" doc:id="cb01d8e3-b9bb-45fb-913b-fde5bc6397e1" name="orchestrator-get-supnum-from-rfc-cca" />
    </flow>
    <flow name="get:\banxico\exchange-rate:system-customer-api-config">
        <flow-ref doc:name="orchestrator-get-tipo-cambio-banxico-main" doc:id="feab1ec4-0346-4ba4-9e14-aa6915c0f770" name="orchestrator-get-tipo-cambio-banxico-main" />
    </flow>
	<flow name="post:\customer\mars\statusUpdate:application\json:system-customer-api-config" doc:id="21b38a53-ca72-45b7-8621-d67e7ad48f92" >
		<flow-ref doc:name="listeners-effem-update-status" doc:id="def7e0f2-4712-42dc-ad27-9b5019d67136" name="listeners-effem-update-status" />
	</flow>
</mule>
