src/main/mule/system-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="system-customer-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8082" protocol="HTTPS" tlsContext="TLS_Context" />
    </http:listener-config>
    <apikit:config name="system-customer-api-config" api="resource::ab8117f6-d718-4307-b5f7-03262d589cd0:system-customer-api:1.0.7:raml:zip:system-customer-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="system-customer-api-main">
        <http:listener config-ref="system-customer-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="system-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-400",
			"user_error_description": "The server cannot or will not process the request due to something that is perceived to be a client error",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-404",
			"user_error_description": "The origin server did not find a current representation for the target resource or is not willing to disclose that one exists",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-405",
			"user_error_description": "The method received in the request-line is known by the origin server but not supported by the target resource",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-406",
			"user_error_description": "The target resource does not have a current representation that would be acceptable to the user agent, according to the proactive negotiation header fields received in the request1, and the server is unwilling to supply a default representation",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-415",
			"user_error_description": "The origin server is refusing to service the request because the payload is in a format not supported by this method on the target resource",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED" enableNotifications="true" logException="true">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": "APIKIT-501",
			"user_error_description": "The server does not support the functionality required to fulfill the request",
			"system_error_description": {}
		}
	}
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="HTTP:BAD_REQUEST" enableNotifications="true" logException="true">
				<ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.errorMessage.payload]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>            
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="ebf8e80d-8cef-45d6-b0a1-31c1c2b22e58" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="c307f56a-fe57-49dc-a5af-07e3d8b8fb7a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"traxion_response": {
	
		"completed_succesfully": "false",
		"error": {
			"error_type": error.errorType.identifier,
			"user_error_description": error.description,
			"system_error_description": {
			    "payload": {
			        "traxion_response": {
			            "error": {
			            "error_type": "INTERNAL SERVER ERROR",
			            "user_error_description": error.detailedDescription,
			            "system_error_description": {
			                "payload": {
			                "error": true,
			                "message": error.detailedDescription,
			                "errorType": ""
			                }
			            }
			            }
			        }
			    }
			}

		}
	}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="system-customer-api-console">
        <http:listener config-ref="system-customer-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="system-customer-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customer\imss\remissions\informix:system-customer-api-config">
        <flow-ref doc:name="Call to orchestrator-get-remissions-date" doc:id="4e3752a6-e0d9-403c-9dba-209b08ccd888" name="orchestrator-get-remissions-date" />
    </flow>
    <flow name="get:\customer\imss\orders\(order_id):system-customer-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="order_id">attributes.uriParams.'order_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
""]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\imss\orders:application\json:system-customer-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
""]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\imss\remissions:application\json:system-customer-api-config">
        <flow-ref doc:name="Call to orchestrator-insert-customer-remissions" doc:id="cf8c6f7e-dd8b-4718-9e83-f539aca6d3b8" name="orchestrator-insert-customer-remissions" />
    </flow>
    <flow name="post:\customer\shipping\notification:application\json:system-customer-api-config">
        <flow-ref doc:name="orchestrator-shipping-notification-main" doc:id="31f2f980-b7eb-4a3a-a74d-7b59d1e64424" name="orchestrator-shipping-notification-main"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customer\statusUpdate:application\json:system-customer-api-config">
        <ee:transform doc:name="Transform Message" doc:id="556a1486-c2e9-4cf1-84c9-c5d7c29c2dae" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="trafficLigth" ><![CDATA[payload.trafficligth]]></ee:set-variable>
				<ee:set-variable variableName="new_status" ><![CDATA[payload.status]]></ee:set-variable>
				<ee:set-variable variableName="vrid" ><![CDATA[payload.vrid]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="orchestrator-trailer-activity-main" doc:id="f4697b58-2088-432f-881f-34240b3efa2b" name="orchestrator-trailer-activity-main"/>
    </flow>
</mule>
