src/main/mule/listeners/listeners-effem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="listeners-effem-update-status" doc:id="3604a2c9-1971-464c-a86a-75d48e653a04" >
		<logger level="INFO" doc:name="Logger" doc:id="ef77ceef-7577-44a7-8be2-f02b11b2184b" message="Mars"/>
		<logger level="INFO" doc:name="Logger" doc:id="8431d596-868e-434b-8614-94798237c2e0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="a56290e5-4c3c-47ce-b147-e5d45a50679d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="loadId" ><![CDATA[%dw 2.0
output application/json
---
payload.system_load_id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="client-tms-findEntities-get-shipment-call-api-system-find-load" doc:id="bb90842f-bc0f-472f-823a-291c68a5ecba" name="client-tms-findEntities-get-shipment-call-api-system-find-load" target="marsLoad" targetValue="#[payload.loads[0].ShipmentLeg.ShipmentDescription]"/>
		<logger level="INFO" doc:name="Logger" doc:id="9fde4a5c-1910-48e6-96de-d09cccce8efd" message="#['Mars - load: ' ++ (vars.loadId default 'No se encopntro load') ++ ' - reference: ' ++ (vars.marsLoad default 'No se encontro referencia')]"/>
		<choice doc:name="Choice" doc:id="9b0cdc05-6da6-4551-8d2e-b46828053e47" >
			<when expression='#[payload.operation_name == "changeTender"]'>
				<flow-ref doc:name="client-uber-freigth-get-token" doc:id="e0fa9a6e-d785-4331-bef4-ff65cebb9232" name="client-uber-freigth-get-token" target="token"/>
				<ee:transform doc:name="Transform Message" doc:id="38a28ed4-0c4e-4d4f-9f61-b00e381ef03d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "action": "ACCEPT",
  "scac": "LOAL",
  "loadId": vars.marsLoad
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="1d50c897-b2d7-47a2-aa69-dfdac8425b0d" message="#[payload]"/>
				<flow-ref doc:name="client-uber-freigth-tender" doc:id="3bb0bcf9-2e42-4a8f-8362-48dfff97f479" name="client-uber-freigth-tender"/>
			</when>
			<when expression='#[payload.operation_name == "changeStatus" and payload.status != "POD"]'>
				<flow-ref doc:name="client-uber-freigth-get-token" doc:id="1dd3c091-08f7-4660-b155-37dafc743641" name="client-uber-freigth-get-token" target="token" />
				<ee:transform doc:name="Transform Message" doc:id="7a2320d7-9a25-4c44-a497-9dba15977d11" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="codes" ><![CDATA[%dw 2.0
output application/json
var ssn = payload.stop_sequence_number == "1" default true
---
payload.status match{
	case "transit" -> 				{typeCode: "CHECK_CALL",
											statusCode: "X6",
											stopSequenceNumber: null}
	case "check_in" -> 				{typeCode: "ARRIVAL",
											statusCode: if(ssn) "X3" else "X1",
											stopSequenceNumber: if(ssn) 1 else 99}
	case "loaded" -> 				{typeCode: "LOADED",
											statusCode: "CP",
											stopSequenceNumber: 1}
    case "check_out" -> 			{typeCode: "DEPARTURE",
											statusCode: if(ssn) "AF" else "CD",
											stopSequenceNumber: if(ssn) 1 else 99}
    case "unloaded" -> 				{typeCode: "UNLOADED",
											statusCode: "D1",
											stopSequenceNumber: 99}
    case "CHECK-IN" -> 				{typeCode: "ARRIVAL",
											statusCode: "X3",
											stopSequenceNumber: 1}
	case "LOADING ENDED" -> 		{typeCode: "LOADED",
											statusCode: "CP",
											stopSequenceNumber: 1}
    case "TRNT" -> 			        {typeCode: "DEPARTURE",
											statusCode: "AF",
											stopSequenceNumber: 1}
    case "DLVD" -> 			 	    {typeCode: "ARRIVAL",
											statusCode: "X1",
											stopSequenceNumber: 99}
    case "UNLOADING ENDED" -> 		{typeCode: "UNLOADED",
											statusCode: "D1",
											stopSequenceNumber: 99}
    case "CHECK-OUT" -> 		    {typeCode: "DEPARTURE",
											statusCode: "CD",
											stopSequenceNumber: 99}
    else -> {}
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="c2394a68-4fae-48a9-8157-39e24595b0e2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  loadId: vars.marsLoad,
  scac: "LOAL",
  shipmentLookupReferenceName: "SHIP ID",
  shipmentLookupReferenceValue: vars.marsLoad,
  checkCalls: [{
      (stopSequenceNumber: vars.codes.stopSequenceNumber) if(!isEmpty(vars.codes.stopSequenceNumber)),
      "type": vars.codes.typeCode,
      statusCode: vars.codes.statusCode,
      reasonCode: "NS",
      dateTime: (payload.record_date_time as DateTime) as String { format: "yyyy-MM-dd HH:mm:ss" }
    }
  ]
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="69dbcf27-6ad8-41b0-b75e-91760e76fc04" message="#[payload]" />
				<flow-ref doc:name="client-uber-freigth-change-status" doc:id="4912ec8a-1b93-4ca0-a110-e001cae0460c" name="client-uber-freigth-change-status"/>
			</when>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="ca55b690-3216-4674-bb44-29807df920d3" message="#[payload]" />
	</sub-flow>
	<flow name="listeners-effem-listener-response-shipment" doc:id="9bed8b43-0177-485a-ba36-7dd26f60b934" >
<!-- [STUDIO:"listener response create shipment effem"]		<jms:listener doc:name="listener response create shipment effem" doc:id="8e63d3ae-a3f5-4249-ac7c-38916c3fa070" config-ref="JMS_Config" destination="${jms.settings.queue.system.tms.to.effem}" inboundContentType="application/json" >
	<flow name="listeners-effem-listener-response-shipment" doc:id="9bed8b43-0177-485a-ba36-7dd26f60b934" initialState="started">
		<jms:listener doc:name="listener response create shipment effem" doc:id="8e63d3ae-a3f5-4249-ac7c-38916c3fa070" config-ref="JMS_Config" destination="${jms.settings.queue.system.tms.to.effem}" inboundContentType="application/json" >
			<reconnect-forever frequency="${jms.reconnection.frequency.ms}" />
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
			<jms:response sendCorrelationId="ALWAYS"/>
		</jms:listener> [STUDIO] -->
		<ee:transform doc:name="backup payload" doc:id="0a680007-9fc8-4577-85e2-efff351317d3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="project_name" ><![CDATA[%dw 2.0
output application/json
---
(payload.CISDocument..*ShipmentReferenceNumberList filter (value, index) -> (value.ShipmentReferenceNumberType == "Project_Name"))[0].ShipmentReferenceNumber]]></ee:set-variable>
				<ee:set-variable variableName="payloadBK" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ebc0a8c5-6904-46d0-b1d2-cb018fa1ee45" message="#[vars.payloadBK]"/>
		<!-- [STUDIO:"listener-jms-queues-choise-validate-load-status"]<flow-ref doc:name="listener-jms-queues-choise-validate-load-status" doc:id="06631e26-152b-4128-8a09-f6c8e9454b50" name="listener-jms-queues-choise-validate-load-status"/> [STUDIO] -->
	</flow>
	<sub-flow name="listener-jms-queues-choise-validate-load-status" doc:id="b5757e0a-19d3-40ab-836a-0fea5843668a" >
		<choice doc:name="file type" doc:id="7992421f-82e7-455e-bb32-8bfea1cc2c2d">
			<when expression='#[payload.CISDocument.EventName =="LoadTendered"]' >
				<logger level="INFO" doc:name="LoadTendered" doc:id="30b4bb81-18ac-4ffc-ab6a-07b15b94ee91" message="LoadTendered"/>
				<flow-ref doc:name="listeners-effem-validate-project-name-tender" doc:id="2ea6fb4b-20c7-4a85-b6c7-29986e195453" name="listeners-effem-validate-project-name-tender"/> 
				<!--  -->			
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_TENDER_ACCEPTED"]'>
				<logger level="INFO" doc:name="S_TENDER_ACCEPTED" doc:id="f93dc1f7-b2ac-4849-b6fc-b911ab17e00f" message="S_TENDER_ACCEPTED"/>
				<flow-ref doc:name="orchestrator-load-tenders-txp-validate-sub-status-Tender-Accepted" doc:id="9aeb20da-35f0-46a9-866f-ee5bafdbfba1" name="orchestrator-load-tenders-txp-validate-sub-status-Tender-Accepted" />
				<!--  -->
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_IN_TRANSIT"]'>
				<logger level="INFO" doc:name="S_IN_TRANSIT" doc:id="b31923a1-2e6a-4c5a-a2c9-e07925f9ac92" message="S_IN_TRANSIT"/>
				  
				<ee:transform doc:name="Transform Message" doc:id="57cecedf-cd05-4935-a85c-f915077cb206">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="AT701" ><![CDATA[%dw 2.0
output application/json
---
"X6"]]></ee:set-variable>
						<ee:set-variable variableName="AT702" ><![CDATA[%dw 2.0
output application/json
---
"NS"]]></ee:set-variable>
						<ee:set-variable variableName="AT703" ><![CDATA[%dw 2.0
output application/java
---
"AB"]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="listeners-effem-validate-project-name-completed-in-transit-pod" doc:id="98388413-10eb-40b2-b32e-810c06b1213a" name="listeners-effem-validate-project-name-completed-in-transit-pod"/>
				<!-- -->
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_COMPLETED"]'>
				<logger level="INFO" doc:name="S_COMPLETED" doc:id="9a5355ba-9e4e-49a7-8ca9-46b12a5c0c81" message="S_COMPLETED"/>
				<flow-ref doc:name="orchestrator-load-tenders-txp-validate-sub-status-completed" doc:id="3086f128-8de2-41b7-a444-f5aff0f4029c" name="orchestrator-load-tenders-txp-validate-sub-status-completed"/>
				<!---->
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_COMPLETED" and payload.CISDocument.Load.DisplayStatusEnumVal =="DSTS_LL_D_POD"]'>
				<logger level="INFO" doc:name="S_POD" doc:id="d0339d32-7ff7-48a5-8da9-f525cb8b35c8" message="S_POD"/>
				 
				<flow-ref doc:name="listeners-effem-validate-project-name-completed-in-transit-pod" doc:id="c39befda-c05e-4bee-b101-d945e54246b9" name="listeners-effem-validate-project-name-completed-in-transit-pod"/>
				<!-- -->
			</when>
			<when expression='#[payload.CISDocument.EventName =="ShipmentCancelled"]'>
				<logger level="INFO" doc:name="Logger" doc:id="b90099e4-e120-4f47-9c92-05564e142199" />
				<flow-ref doc:name="listeners-effem-validate-project-name-rejected" doc:id="b8fc2d55-77b5-419d-96cd-7e874077dd24" name="listeners-effem-validate-project-name-rejected"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="95b6c101-9341-4ae5-ae3e-a49f1db0d2e9" message="MESSAGE NOT PROCESSED BY STATUS" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="listeners-effem-validate-project-name-tender" doc:id="6da53353-0c94-4902-b8ee-8bb61388ec13" >
		<ee:transform doc:name="set project" doc:id="91f62b67-92cc-4a4e-8967-eb353b1df9f6">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="project"><![CDATA[%dw 2.0
output application/json
---
(vars.payloadBK.CISDocument.*ShipmentLeg.Shipment.*ShipmentReferenceNumberList filter ((item, index) -> item.ShipmentReferenceNumberType == "Project_Name"))[0]]]></ee:set-variable>
				<ee:set-variable variableName="status" ><![CDATA[%dw 2.0
output application/json
---
"A"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="3bfa14f0-86da-4690-b739-3f032b1fba50" >
			<when expression='#[["Mars_OW_XB"] contains(vars.project.ShipmentReferenceNumber)]'>
				<flow-ref doc:name="orchestrator-effem-ftp-edi-997-x12-main" doc:id="a15d48f1-063e-4c3e-b8d0-dab57aaa496b" name="orchestrator-effem-ftp-edi-997-x12-main"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="dc99305a-cd3a-4efa-bce0-831f006c7ad0" message="MESSAGE NOT PROCESSED BY PROJECT NAME #[vars.project]"/>
			</otherwise>
		</choice>
	</sub-flow>
	
</mule>
