src/main/mule/listeners/listeners-effem.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="listeners-effem-listener-response-shipment" doc:id="9bed8b43-0177-485a-ba36-7dd26f60b934" >
		<jms:listener doc:name="listener response create shipment effem" doc:id="8e63d3ae-a3f5-4249-ac7c-38916c3fa070" config-ref="JMS_Config" destination="${jms.settings.queue.system.tms.to.effem}" inboundContentType="application/json" >
			<reconnect-forever frequency="${jms.reconnection.frequency.ms}" />
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
			<jms:response sendCorrelationId="ALWAYS"/>
		</jms:listener>
		<ee:transform doc:name="backup payload" doc:id="0a680007-9fc8-4577-85e2-efff351317d3" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="payloadBK" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ebc0a8c5-6904-46d0-b1d2-cb018fa1ee45" message="#[vars.payloadBK]"/>
		<flow-ref doc:name="listener-jms-queues-choise-validate-load-status" doc:id="06631e26-152b-4128-8a09-f6c8e9454b50" name="listener-jms-queues-choise-validate-load-status"/>
	</flow>
	<sub-flow name="listener-jms-queues-choise-validate-load-status" doc:id="b5757e0a-19d3-40ab-836a-0fea5843668a" >
		<choice doc:name="file type" doc:id="7992421f-82e7-455e-bb32-8bfea1cc2c2d">
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_TENDER_ACCEPTED"]'>
				<logger level="INFO" doc:name="S_TENDER_ACCEPTED" doc:id="f93dc1f7-b2ac-4849-b6fc-b911ab17e00f" message="S_TENDER_ACCEPTED"/>
				<flow-ref doc:name="orchestrator-effem-ftp-edi-990-x12-main" doc:id="460b33d0-b929-448a-8b60-598b7ec51f8d" name="orchestrator-effem-ftp-edi-990-x12-main" />
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_IN_TRANSIT"]'>
				<logger level="INFO" doc:name="S_IN_TRANSIT" doc:id="b31923a1-2e6a-4c5a-a2c9-e07925f9ac92" message="S_IN_TRANSIT"/>
				<flow-ref doc:name="orchestrator-effem-ftp-edi-214-x12-main" doc:id="98388413-10eb-40b2-b32e-810c06b1213a" name="orchestrator-effem-ftp-edi-214-x12-main"/>
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_COMPLETED"]'>
				<logger level="INFO" doc:name="S_COMPLETED" doc:id="9a5355ba-9e4e-49a7-8ca9-46b12a5c0c81" message="S_COMPLETED"/>
				<flow-ref doc:name="orchestrator-effem-ftp-edi-214-x12-main" doc:id="7cf8a94d-2861-408d-8c6b-72f901979689" name="orchestrator-effem-ftp-edi-214-x12-main"/>
			</when>
			<when expression='#[payload.CISDocument.Load.CurrentLoadOperationalStatusEnumVal =="S_POD"]'>
				<logger level="INFO" doc:name="S_POD" doc:id="d0339d32-7ff7-48a5-8da9-f525cb8b35c8" message="S_POD"/>
				<flow-ref doc:name="orchestrator-effem-ftp-edi-214-x12-main" doc:id="c39befda-c05e-4bee-b101-d945e54246b9" name="orchestrator-effem-ftp-edi-214-x12-main"/>
			</when>
			<when expression='#[payload.CISDocument.EventName =="LoadTendered"]' >
				<logger level="INFO" doc:name="LoadTendered" doc:id="0466b2dd-ebcf-42d3-ad4c-f4b596e8a5ba" message="LoadTendered"/>
				<flow-ref doc:name="orchestrator-effem-ftp-edi-997-x12-main" doc:id="06fb95d8-f3d3-4588-8591-3e4ad01d6ada" name="orchestrator-effem-ftp-edi-997-x12-main"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="95b6c101-9341-4ae5-ae3e-a49f1db0d2e9" message="RAW INTERFACE" />
			</otherwise>
		</choice>
	</sub-flow>	
</mule>
